.container{
  text-align: center;
}

h1{
  text-align: center;
}

p{
  text-align: center;
}

.tombol{
  display: flex;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.tombol-Yes:hover{
  background-color: gold;
}

.tombol-No:hover{
  background-color: brown;
}

.bg-page-1{
  background-color: gold;
}

.bg-page-2{
  background-color: brown;
}